		DIE ZWEI GEBOTE IN MORGENGRAUEN
		===============================

	Was sollen Gebote?
	------------------

	Wie in jedem Spiel so haben sich auch in unserem MUD alle
	Mitspieler (Magier eingeschlossen) an Spielregeln zu halten.
	Allerdings machen die Spiele am meisten Spass, die die
	wenigsten Regeln besitzen. 

	Um zu verhindern, dass jetzt schon angefangen wird, dass
	unser MUD in feste Regeln gedraengt wird, habe ich mich 
	entschlossen, selber dem Spiel ein Regelwerk zu geben.
	Aber ich werde dafuer sorgen, dass sie kurz bleiben.
	
	1.Gebot )	DU SOLLST NETT SEIN.

	Das MUD ist ein Spiel; und Spiele machen nur dann Spass,
	wenn man sich nicht gegenseitig versucht in die Pfanne zu
	hauen; somit gilt diese Regel fuer Spieler wie fuer Magier.

	2.Gebot )	DU SOLLST DIE MUDLIB EHREN UND VERMEHREN.

	Das MUD steht und faellt mit der Guete seiner Mudlib; und da
	unser Hauptziel ein schoenes MUD ist, ist es die vorrangige
	Aufgabe aller Magier, fuer den Aufbau, die Wartung und die
	Erhaltung der Mudlib zu sorgen.

	Zum Thema Vermehrung:
	---------------------

	Es gibt in einem MUD natuerlich auch noch andere Aufgaben:
	-	Regionskoordination
		(Regionsmagier,Erzmagier des Verkehrs)
	-	Wahrung des Gleichgewichtes der Kraefte
		(Waffen,Ruestungen,Geld,XP,Monster,u.s.w.)
	-	Schutz des MUDs vor Spielverderbern.
		(Sheriff)

	Diese Aufgaben sind aber keine Lebensaufgaben; sie sind
	Aufgaben, die sich den Geboten unterzuordnen haben.
	Insbesondere sollen Magier, die nichts zur Vermehrung der
	Mudlib beitragen, nicht ueber andere urteilen.

	Zum Thema Ehrung:
	-----------------

	Hiermit meine ich den Aufruf an die Magier, keine Objekte
	zu schreiben, die das Gleichtgewicht der Kraefte verletzen.

	Und ich meine den Aufruf an die Magier, dafuer zu sorgen,
	dass es in diesem MUD Herausforderungen gibt, die (zumindest
	teilweise) nicht umgangen werden koennen.
	Natuerlich ist damit auch gemeint, dass Spielern nur in den
	Faellen geholfen wird, wo Fehler oder Luecken in der Mudlib
	auftauchen.

	Olpp, Sheriff des MorgenGrauens
	Rumata, MudAdm des MorgenGrauens
